.linear-wipe {
  text-align: center;
  
  background: linear-gradient(to right, #ffffff 20%, #ffffff 40%, #00046b 60%, #000785 80%);
  background-size: 200% auto;
  
  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
  animation: shine 1s linear infinite;
  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
